<div class="container">
  <h2>Página de venda</h2>

  <p><%= @selling_page.product.name %></p>
  <p><%= @selling_page.name %></p>
  <p><%= @selling_page.url %></p>
  <p><%= @selling_page.description %></p>
</div>
