<div class="container">
  <h3>Gerenciar produtos</h3>
  <p> <%= link_to "Voltar", root_path %></p>
  <p>Criar nova loja</p>
  <p> <%= link_to "Todos os produtos", products_path %> </p>
  <p><%= link_to "Kits de produtos", kits_path%></p>
  <p>Upsell de 1 clique</p>
  <p>Configuracoes de loja</p>

  <p>Configuracoes de pagamento</p>
  <p>Configuracoes de cookie</p>
  <p>Cupon de desconto</p>
  <p>Configuracoes de tema</p>
</div>