<p>Criar nova loja</p>
<p>Todos os produtos</p>
<p>Kits de produtos</p>
<p>Upsell de 1 clique</p>
<p> <%= link_to "Configuracoes de loja", products_path %> </p>

<p>Configuracoes de pagamento</p>
<p>Configuracoes de cookie</p>
<p>Cupon de desconto</p>
<p>Configuracoes de tema</p>
