<div class="container">
  <%= simple_form_for [:admin, @product, @inventory] do |f| %>
    <div class="styler">
      <div class="columns">
        <div>
          <%= f.association :product, value_method: :id, label: "Produto", disabled: true %>
        </div>
        <div>
          <%= f.input :quantity, label: "Quantidade" %>
        </div>
        <%= f.button :submit, 'Editar', class: "btn btn-primary submit-product" %>
      </div>
    </div>
  <% end %>
</div>