<div class="container">
  <% @inventory.versions.each do |version| %>
    <div>
      <%= inventory_info(version) %>
    </div>
  <% end %>
  <div>
    <%= originator(@inventory) %>
  </div>
</div>