<div class="nested-fields">
  <div class="field form-kit-products" data-controller="kitprice">
    <div class="form-products">
      <%= f.association :product, as: :select, label: "Produto", input_html: { "data-target" => "kitprice.product", "data-action" => "event -> kitprice#pricefill" } %>
      <div class="form-fields">  
        <%= f.input :quantity, label: "Quantidade", input_html: { "data-target" => "kitprice.quantity", "data-action" => "event -> kitprice#pricefill" } %>
      </div>
      <%= f.input :price_cents, as: :hidden, input_html: {"data-target" => "kitprice.sumprice" } %>
    </div>
      <%= link_to_remove_association "Remover produto", f %>
  </div>
</div>
