<div class="nested-fields">
  <div class="field form-kit-products" data-controller="kit">
    <div class="form-products">
      <%= f.association :product, as: :select, label: "Produto", input_html: { "data-target" => "kit.product", "data-action" => "event -> kit#pricefill" } %>
      <div class="form-fields">  
        <%= f.input :quantity, label: "Quantidade", input_html: { "data-target" => "kit.quantity", "data-action" => "event -> kit#pricefill" } %>
      </div>
      <%= f.input :price_cents, label: "Preço total",  input_html: {"data-target" => "kit.sumprice" } %>
    </div>
      <%= link_to_remove_association "Remover produto", f %>
  </div>
</div>
