<div class="nested-fields">
  <div class="field form-kit-products" data-controller="form">
    <div class="form-products">
      <%= f.association :product, as: :select, label: "Produto", input_html: { "data-target" => "form.product", "data-action" => "event -> form#pricefill" } %>
      <div class="form-fields">  
        <%= f.input :quantity, label: "Quantidade", input_html: { "data-target" => "form.quantity", "data-action" => "event -> form#quantity" } %>
      </div>
    </div>
      <%= link_to_remove_association "Remover produto", f %>
  </div>
</div>
