<div class="order-info-kit-image-header">
</div>
<div class="order-info-kit-name">
  Kit:
</div>
<div class="order-info-kit-name">
  Valor Produtos:
</div>
<div class="order-info-kit-name">
  Frete:
</div>
<div class="order-info-kit-name">
  Valor Total: 
</div>
<div class="order-info-kit-name">
  Pagamento:
</div>
<div class="order-info-kit-name">
  Status:
</div>
<div class="order-info-kit-name">
  UTM Source:  
</div>
<div class="order-info-kit-name">
  UTM Campaign: 
</div>