<% if status == "Paga" %>
  <div class="order-status-tag status-paid">
    Paga
  </div>
<% elsif status == "Em Aberto" %>
  <div class="order-status-tag status-waiting">
    Em Aberto
  </div>
<% elsif status == "Recusada" %>
  <div class="order-status-tag status-refused">
    Recusada
  </div>
<% end %>




