<div class="main">
  <h3>Configurações</h3>
  <p>Frete?</p>
  <p>Funis de sms?</p>
  <p>whatsappbot?</p>
  <p>Integracao de marketing?</p>
  <p>Pixels de rastreamento</p>
  <p>Webhooks</p>
  <p>
    <%= link_to "Paginas de venda", selling_pages_path %>
  </p>
  <p>minhas paginas de venda</p>
  <p>
    <%= link_to "Link de redirecionamento", campaigns_path %>
  </p>
</div>