<%= simple_form_for [:admin, campaign] do |f| %>
  <div class="styler">
    <div class="rows">
      <div>
        <%= f.input :product_id, as: :select, collection: products, label: "Escolha o produto da campanha" unless campaign.product_id.present? || campaign.selling_page_id? %>
      </div>

      <%= render "campaign_variables", f: f, campaign: campaign if campaign.product_id.present? || campaign.selling_page_id? %>

    </div>
  </div>
  <%= f.button :submit, 'Salvar', class: "btn btn-primary submit-product" %>
<% end %>