<div class="mt-4 mb-4">
  <% if @order.kit.banner.attached? %>
    <%= cl_image_tag @order.kit.banner.key, width: "350px", height: "100px", style: "" %>
  <% else %>
    <%= image_tag "banner_vmd3.png", width: "350px", height: "100px" %>
  <% end %>
</div>