<h1>obrigado</h1>

<br>

Preço: <%= @order.price.to_i %>

<br>
<br>
<br>

Status: <%= @order.status %>

<br>
<br>
<br>

Informações de compras por boleto:

<br>
<br>
<br>

Url do Boleto: <%= @order.boleto_url %>

<br>
<br>
<br>
Código de barras do Boleto: <%= @order.boleto_bar_code %>
