<% if current_user.admin? %>
  Esta como admin
  <% else %>
  Nao esta como admin
<% end %>

<p> <%= link_to "Gerenciar produtos", catalogs_path %> </p>

<p> <%= link_to "Financeiro", financials_path %> </p>

<p> <%= link_to "Configuracoes", settings_path %> </p>