<h5>Olá, <%= @customer.name %>, </h5>

<p>Seu pagamento no site <%= @order.kit.name.capitalize %> foi confirmado <p>

<% if @order.payment_method == "boleto" %>
  <p>Seu boleto pode ser econtrado em <%= link_to "boleto", @order.get_boleto_barcode[0] %> </p>

  <p>Com a linha digitável: </p>
  <p><strong> <%= @order.get_boleto_barcode[1] %> </strong></p>
  
<% end %>

<p>Para suporte relacionado ao seu pedido, entre em
contato com o vendedor: </p>

<p>Empresa: Learne Digital Vendas Online LTDA </p>
<p>CNPJ: 23.742.740/0001-07 </p>

<p> E-mail: cliente@learne.zendesk.com </p>

<p> Obrigado </p>

<h5>Learne</h5>