<div class="container-fluid mb-3">
  <div class="container">
    <div class="footer-checkout">
      <div class="col-md-4">
        <h5>FORMAS DE PAGAMENTO</h5>
        <%= image_tag "formas_de_pagamento.png", width: 170%>
      </div>
      <div class="col-md-4">
        <h5>PAGAMENTO SEGURO</h5>
        <%= image_tag "seguro.png"%>
      </div>
      <div class="col-md-4">
        <h5>TERMOS</h5>
        <div style="display: grid">
          <a href="#" target="_blank">Política de privacidade</a>
          <a href="#" target="_blank">Termos de compra</a>
        </div>
      </div>
    </div>
    <div class="footer-detail">
      Essa compra sera processada pelo Pagarme.
    </div>
  </div>
</div>