.banner {
  width: 100%;
}

.checkout-body {
  display: flex;
  justify-content: space-between;
}

.user-info {
  width: 50%;
}

.submit-button {
  margin-top: 20px;
  width: 100%;
}

.payment-box {
  margin: 20px;
}

.upsell {
  background-color: #DA7D30;
  height: 13rem;
  width: 100%;
  border-style: dashed;
}

.upsell-content {
  display: flex;
  justify-content: flex-start;
}

.upsell-image {
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 12rem;
}

.footer-checkout {
  display: flex;
  margin: 10px;
  padding-top: 15px;
}

.footer-checkout h5 {
  color: #4972A7;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  border-bottom: solid;
}

.footer-detail {
  margin-top: 10px;
  text-align: center;
}
