.banner {
  width: 100%;
}

.checkout-body {
  display: flex;
  justify-content: space-between;
}

.user-info {
  width: 50%;
}

.submit-button {
  margin-top: 20px;
  width: 100%;
}

.payment-box {
  margin: 20px;
}

.upsell {
  background-color: white;
  width: 100%;
  border-style: dashed;
}

.upsell-content {
  display: flex;
  justify-content: flex-start;
}

.card-image{
    width: 35px;
    margin: 5px;
  }

.upsell-selection {

}


.upsell-selection label {
  display: block;
  float: left;
  padding-right: 10px;
  white-space: nowrap;
  font-weight: bold;
}

.upsell-selection input {
  vertical-align: middle;
}

.upsell-selection span {
  vertical-align: middle;
}

.upsell-image {
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 12rem;
}

.footer-checkout {
  display: flex;
  margin: 10px;
  padding-top: 15px;
}

.footer-checkout h5 {
  color: #4972A7;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  border-bottom: solid;
}

.footer-detail {
  margin-top: 10px;
  text-align: center;
}

.products-price {
  margin: 10px;
}

.shipping-price {
  font-size: 16px;
  margin: 10px;
}

.total-price {
  padding: 10px;
  font-weight: bold;
  border-top: 2px solid;
}

.form-group label {
  font-weight: bold;
}

.card-trip {
  overflow: hidden;
  background: white;
  width: 97%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

.card-trip > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}


@media(max-width: 992px) {

  .card-trip {
    overflow: hidden;
    background: white;
    width: 95%;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin: auto;
    margin-bottom: 20px;
  }

}

@media(max-width: 768px) {

  .card-trip {
    overflow: hidden;
    background: white;
    width: 92%;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin: auto;
    margin-bottom: 20px;
  }

  .tab-pane{
    width: 100%;
    margin: auto;
  }

  .card-image{
    width: 25px;
    margin: 5px;
  }

  .card {
    // border: 1px solid red;
    width: 100%;
    margin: auto;
  }

  .checkout-banner{
    display: none;
  }

  .center-content{
    margin: auto;
    padding: 0px;
  }

  .checkout-columns{
    // border: 1px solid orange;
    margin-right: 0px;
  }

  .checkout-group{
    // border: 2px dashed blue;
    margin: auto;
  }

  .upsell {
    // border: 2px solid pink;
  }

  .footer-checkout{
    display: block;
    margin-left: -10px;
    padding: 0px;
  }

  .mobile-center{
    // border: 1px dotted purple;
    display: flex;
    justify-content: center;
  }
}
