.inventory-dash{
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0px 20px;
  text-align: center;
}

.inventory-dash-item{
  border: 1px solid lightgray;
  flex-grow: 1;
  max-width: 33%;
  min-width: 33%;
}

.low_inventory{
  background-color: #FF8484
}