tr.inventory_line_odd {
   background-color: #A5A9B1;
}

tr.inventory_line_odd:hover {
  background-color: #A5A9B1 !important;
}

tr.inventory_line_even {
  background-color: #cfd1d4;
}

tr.inventory_line_even:hover {
  background-color: #cfd1d4 !important;
}
