.navbar {
  z-index: 1;
  border-bottom: 1px solid #999999;

  .navbar-home {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 24px;
  }

  .dropdown-menu {
    min-width: 0;
    padding: 0;
  }
}

.navbar-lewagon {
  justify-content: space-between;
  background: #fdfefe;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
