.card-product {
  overflow: hidden;
  height: 40px;
  background: white;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 12px;

  margin-bottom: 1px;
}

.card-product-header {
  overflow: hidden;
  height: 40px;
  background: white;
  box-shadow: 0 0 2px rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  justify-content: space-between;
  text-align: center;
}

.order-small-item{
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  padding: 10px;
  width: 5.5%;
  max-width: 5.5%;
  min-width: 5.5%;
}

.order-medium-item{
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  padding: 10px;
  width: 13%;
  max-width: 13%;
  min-width: 13%;
}

.order-large-item{
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  padding: 10px;
  width: 24%;
  max-width: 24%;
  min-width: 24%;
}

