.order-status-tag{
  margin: 1px 5px;
  padding: 5px;
  width: 100%;
  text-align: center;
}

.status-completed{
  background-color: $success;
  color: white;
}

.status-pending_payment{
  background-color: $warning;
  color: white;
}

.status-refused{
  background-color: $danger;
  color: white;
}

.status-vencida{
  background-color: $info;
  color: white;
}