.order-status-tag{
  margin: 1px 5px;
}

.status-paid{
  background-color: $success;
  color: white;
}

.status-waiting{
  background-color: $warning;
  color: white;
}

.status-refused{
  background-color: $danger;
  color: white;
}

.status-vencida{
  background-color: $info;
  color: white;
}