.thanks-container{
  background-color: white;
  width: 97%;
  padding: 30px;
}

.product-info{
  width: 100%;
  padding: 30px;
}

.order-info{
  width: 100%;
  padding: 30px;
}

.thanks-container{
  background-color: white;
  width: 100%;
  padding: 30px;
}