.thanks-container{
  border: 1px solid green;
  background-color: white;
  width: 97%;
}

.product-info{
  border: 1px solid orange;
  width: 100%;
}

.order-info{
  border: 1px solid purple;
  width: 100%;
}