<p>Saques</p>
<p><%= link_to "Empresas", companies_path %> </p>
<p><%= link_to "Contas Bancarias", bank_accounts_path %></p>
<p>Regras de afiliacao</p>
<p>Regras de co-producao</p>
<p>Solicitacoes de estorno</p>